/* FONTS */
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfair/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfair/bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfair/black.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfair/italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfair/bold_italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfair/black_italic.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/inconsolata/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/inconsolata/bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* AUDIO */
.remove {
    position: absolute;
    left: -999em;
}
.pause {
    background-position: 0 -100%;
}
.hide { 
    display: none;
}
#player {
    font-family: monospace; /* so that the em works bruh */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
    height: 2em;
    margin: 1.5em auto;
    background-image: url('images/dna.png');
    background-size: contain;
    /* filter: grayscale(100%) */
}
#playpause {
    width: 25px;
    height: 25px;
    cursor: pointer; 
    background-color: rgba(0, 0, 0, 1);
    border-right: 1px solid white; 
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playpause img {
    width: 100%;
    height: 21px;
    filter: invert(1);
}
#progress {
    height: 100%;
    width: 0;
    border-right: 5px double white;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgb(255, 192, 203, 0.3); */
    cursor: pointer;
}
#progress-container {
    width: 100%; height: 100%; 
    background-color: rgb(255, 192, 203, 0.3); /* or not */
    position: relative;
}

/* STYLES */

body {
    background-color: rgba(20,20,21,255);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -120%;
    font-family: 'Inconsolata', monospace;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#glitch-box {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    display: block;
}

#glitch-box img {
    position: absolute;
    border: none;
}

a {
    color: white;
    text-decoration: none;
}

.statement-holder {
    margin-top: -20px;
    margin-bottom: 1em; 
}

.statement {
    display: none; 
}

.equals-sign {
    position: relative;
    left: 40px;
    width: 10px;
    height: 15px;
    border: 2px white;
    border-style: none solid;
}

#bgimg {
    background-image: url('/images/dna-white.png');
    background-size: cover;
    height: 120%;
    width: 120%;
    z-index: -5;
    position: absolute;
    top: -100px;
}

main {
    max-width: 400px;
    min-height: 100vh;
    margin: 0px 20px;
    position: relative;
    transform-origin: top center;
}

main img {
    width: 100%;
    height: auto;
    border: 2px solid white;
}
h1 {
    font-family: 'Playfair', serif;
    font-size: 25px;
    margin: 20px 0px;
    text-align: center;
}
h3 {
    font-family: 'Playfair', serif;
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
}

#navbar {
    position: fixed;
    display: flex;
    gap: 5px; 
    z-index: 2;
}

nav {
    display: flex; 
    gap: 5px; 
    z-index: 3;
}

#pdf-box {
    margin: 10px 0px;
}
#pdf {
    width: 500px;
    height: 500px;
    border: 2px solid white; 
}
#filler {
    height: 50px;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 50%; 
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 100%;
}
#cortex {
    margin-right: 20px;
}

button {
    border-style: outset;
    border-width: 2px;
    border-color: white; 
    background-color: black;
    color: white;
    text-align: left; 
    padding: 0px 0px;
    font-size: 16px;
    margin-left: 2px;
    box-shadow: 0px 0px 5px 0px black;  
    transition: background-color 0.5s, color 0.5s;
    font-family: 'Inconsolata';
}
button:hover {
    color: black !important;
    background-color: white !important;
    border-style: inset !important;
    cursor: pointer; 
}

nav, #navbar {
    flex-direction: column-reverse;
}
#navbar {
    right: 10px;
    bottom: 50px; 
    left: auto; 
    font-size: clamp(16px, 2.7vw, 30px);
}
#navbar nav button {
    font-size: clamp(16px, 2.7vw, 30px);
}
footer a h3 {
    font-size: clamp(25px, 3.5vw, 50px);
}